
a:hover{
  background-color:Blue;
  color:Black}
a:active{
  Background-color:Red;
  color:White}

}
p:first-letter{
  font-size:5em
}
nav a {
  text-decoration: none;
  margin:20px;
}
#WelcomeToSpace{
  color:#a333ff;
  text-align:center;
  font-size:50px;
}
#spaceMedia{
  color:#FFFFFF;
  font-size:50px;
}
/*Comment For CSS*/